[v-cloak] {
  display: none;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

:root,
body.light {
  --primary: #5f52a7;
  --on-primary: #ffffff;
  --primary-container: #e5deff;
  --on-primary-container: #1b0261;
  --secondary: #605c71;
  --on-secondary: #ffffff;
  --secondary-container: #e5dff9;
  --on-secondary-container: #1c192b;
  --tertiary: #7c5264;
  --on-tertiary: #ffffff;
  --tertiary-container: #ffd8e6;
  --on-tertiary-container: #301120;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #fffbff;
  --on-background: #1c1b1f;
  --surface: #fdf8fd;
  --on-surface: #1c1b1f;
  --surface-variant: #e5e0ec;
  --on-surface-variant: #48454e;
  --outline: #79757f;
  --outline-variant: #c9c5d0;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #313033;
  --inverse-on-surface: #f4eff4;
  --inverse-primary: #c9beff;
  --surface-dim: #ddd9dd;
  --surface-bright: #fdf8fd;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f7f2f7;
  --surface-container: #f1ecf1;
  --surface-container-high: #ebe7ec;
  --surface-container-highest: #e5e1e6;
}

body.dark {
  --primary: #c9beff;
  --on-primary: #302175;
  --primary-container: #47398d;
  --on-primary-container: #e5deff;
  --secondary: #c9c3dc;
  --on-secondary: #312e41;
  --secondary-container: #484459;
  --on-secondary-container: #e5dff9;
  --tertiary: #edb8cd;
  --on-tertiary: #482535;
  --tertiary-container: #623b4c;
  --on-tertiary-container: #ffd8e6;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1c1b1f;
  --on-background: #e5e1e6;
  --surface: #141316;
  --on-surface: #e5e1e6;
  --surface-variant: #48454e;
  --on-surface-variant: #c9c5d0;
  --outline: #938f99;
  --outline-variant: #48454e;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e5e1e6;
  --inverse-on-surface: #313033;
  --inverse-primary: #5f52a7;
  --surface-dim: #141316;
  --surface-bright: #3a383c;
  --surface-container-lowest: #0e0e11;
  --surface-container-low: #1c1b1f;
  --surface-container: #201f23;
  --surface-container-high: #2b292d;
  --surface-container-highest: #363438;
}